<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">

    <!-- Site wrapper -->
    <div class="wrapper">
        <header th:replace="admin/layout/header :: header"></header>
        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
        <aside th:replace="admin/layout/sidebar :: sidebar"></aside>
        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div th:replace="admin/layout/main :: main"></div>
        <!-- /.content-wrapper -->
<!--        <footer th:replace="admin/layout/footer :: footer"></footer>-->
    </div>
    <!-- ./wrapper -->

    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <script th:src="@{/assets/js/jquery-ui.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/adminlte.min.js}"></script>
    <script th:src="@{/assets/js/dashboard.js}"></script>
    <script th:src="@{/assets/js/function.js}"></script>
</body>
</html>
