<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/index.html}">
<body>
<div layout:fragment="content" class="container">
    <div class="row">
        <h2>Quản lý thương hiệu</h2>
    </div>
    <div class="row">
        <form th:action="@{/admin/brand/add}" method="post" modelAttribute="brand" th:object="${brand}">
            <div class="card-body">
                <div class="row">
                    <input type="hidden" th:field="*{id}" />
                    <div class="form-group col-md-3">
                        <label for="exampleInputName">Tên</label>
                        <input type="text" class="form-control" th:field="*{name}" id="exampleInputName" placeholder="Nhập tên">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="exampleInputDescription">Mô tả</label>
                        <input type="text" class="form-control" th:field="*{description}" id="exampleInputDescription" placeholder="Nhập mô tả">
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary" th:if="${brand.id == null}">Add</button>
                <button type="submit" class="btn btn-primary" th:if="${brand.id != null}">Update</button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body p-0 table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="col-md-2">Tên</th>
                            <th class="col-md-1">Mô tả</th>
                            <th class="col-md-1">Hành động</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Loop through the productDetails list and populate table rows -->
                        <tr th:each="brand, index : ${brands}">
                            <td th:text="${brand.name}"></td>
                            <td th:text="${brand.description}"></td>
                            <td>
                                <a th:href="@{/admin/brand/detail/{id}(id=${brand.id})}" class="btn bg-secondary">Edit</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-header">
                <div class="card-tools">
                    <ul class="pagination pagination-sm float-right">
                        <li class="page-item"><a class="page-link" href="#" th:href="@{/admin/brand/hien-thi(page=1)}">«</a></li>
                        <li class="page-item" th:each="pageNumber : ${#numbers.sequence(1, totalPages)}">
                            <a class="page-link" href="#" th:href="@{/admin/brand/hien-thi(page=${pageNumber})}" th:text="${pageNumber}"></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#" th:href="@{/admin/brand/hien-thi(page=${totalPages})}">»</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

