<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/index.html}">
<body>
    <div layout:fragment="content" class="container">
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title"></h3>
                </div>
                <form>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="exampleInputPrice">Giá bán</label>
                                <input type="text" class="form-control" id="exampleInputPrice" placeholder="Nhập giá bán">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="exampleInputQuantity">Số lượng</label>
                                <input type="number" class="form-control" id="exampleInputQuantity" placeholder="Nhập số lượng">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="exampleInputProduct">Sản phẩm</label>
                                <select class="form-control" id="exampleInputProduct" th:field="*{products}">
                                    <option th:each="item : ${products}" th:value="${item.id}" th:text="${item.name}"></option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="brand">Thương hiệu</label>
                                <select id="brand" name="brand" class="form-control" th:field="*{brands}">
                                    <option th:each="item : ${brands}" th:value="${item.id}" th:text="${item.name}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="handStyle">Kiểu tay</label>
                                <select id="handStyle" name="handStyle" class="form-control" th:field="*{handStyles}">
                                    <option th:each="item : ${handStyles}" th:value="${item.id}" th:text="${item.name}"></option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="collarType">Kiểu cổ</label>
                                <select id="collarType" name="collarType" class="form-control" th:field="*{collarTypes}">
                                    <option th:each="item : ${collarTypes}" th:value="${item.id}" th:text="${item.name}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="color">Màu sắc</label>
                                <select id="color" name="color" class="form-control" th:field="*{colors}">
                                    <option th:each="item : ${colors}" th:value="${item.id}" th:text="${item.name}"></option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="size">Size</label>
                                <select id="size" name="size" class="form-control" th:field="*{sizes}">
                                    <option th:each="item : ${sizes}" th:value="${item.id}" th:text="${item.name}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="material">Chất liệu</label>
                                <select id="material" name="material" class="form-control" th:field="*{materials}">
                                    <option th:each="item : ${materials}" th:value="${item.id}" th:text="${item.name}"></option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="description">Mô tả</label>
                                <input type="text" class="form-control" id="description" name="description" placeholder="Nhập mô tả">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>